{
  "**/*.{js,jsx}": [
    "cd frontend && npm run lint",
    "npm run format"
  ],
  "**/*.{html,css,json,md,yaml,toml}": "npm run format",
  "**/*.py": "backend/.venv/bin/black",
  "**/*.go": "go fmt"
}